<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- Include App styles -->
    <link rel="stylesheet" href="css/app.css">

    <!-- Include AngularJS  -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <!-- Include SockJS  -->
    <script src="lib/sockjs/sockjs-0.3.min.js"></script>

    <!-- Include ChuckT  -->
    <script src="lib/chuckt/chuckt.js"></script>

    <!-- Include App scripts -->
    <script src="js/app.js"></script>
    <script src="js/router.js"></script>

    <!-- Include Controllers -->
    <script src="js/controllers/main.ctrl.js"></script>
    <script src="js/controllers/home.ctrl.js"></script>
    <script src="js/controllers/chat.ctrl.js"></script>

    <!-- Include Services -->
    <script src="js/services/main.svc.js"></script>
    <script src="js/services/message.svc.js"></script>

    <!-- Include Directives -->
    <script src="js/directives/main.drv.js"></script>
    <script src="js/directives/focus-on.drv.js"></script>

</head>

<body>

<div ng-view></div>

</body>
</html>

