<div class="container">
    <h1 class="center">Tensor Chat</h1>

    <table>
        <tr>
            <td>
                <ul>
                    <li ng-class="message.userName === userName ? 'bubble' : 'bubble bubble--alt'"
                        ng-repeat="message in messages track by $index">
                        {{message.time + ' ' + message.text}}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <form class="block-control" ng-submit="sendMessage()">
                    <input type="text" ng-model="messageText" placeholder="Type your message here" focus-on="true"/>
                    <input type="submit" value="Send"/>
                </form>
            </td>
        </tr>
    </table>
</div>