<div class="container">
    <h1>Welcome to Tensor Chat</h1>
    <form ng-submit="confirmName()">
        <input type="text" ng-model="userName" placeholder="Specify your name here" focus-on="true"/>
        <input type="submit" value="Login"/>
    </form>
</div>